.users-table{
    height: 100%;
    font-family: 'Open Sans', sans-serif;

    
}

.table-header-users{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    border-bottom: solid 2px black;
}
.table-header-users h5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: #333333;

}

.table-row-users{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    border-bottom: solid 2px black;
}
.table-row-users h5{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.table-product-img{
    width: 150px;
}
.table-btn{
    width: 90px;
    height: 30px;
    background-color: #333333;
    color: white;
    border: solid #333333;
    cursor: pointer;

}

.display-products-responsive{
    visibility: hidden;
    height: 0px;
}

.responsive-container{
    visibility: hidden;
    height: 0px;




}

.responsive-item{
    visibility: hidden;
    height: 0px;

    
}

.responsive-title{
    visibility: hidden;
    height: 0px;


}

.responsive-img{
    visibility: hidden;



}

.responsive-buttons{
    visibility: hidden;
    height: 0px;

    
}




@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
  .users-table{
      visibility: hidden;
      width: 0px;
      height: 0px;
      
  }

  .table-header-users{
      display: flex;
      visibility: hidden;
      width: 0px;
      height: 0px;

  }

  .table-header-users h5{
    visibility: hidden;
    width: 0px;
    height: 0px;

  }

  .table-row-users{
      display: flex;
      visibility: hidden;
      width: 0px;
      height: 0px;

  }
  .table-row-users h5{
    visibility: hidden;
    width: 0px;
    height: 0px;

  }
  .table-product-img{
    visibility: hidden;
    width: 0px;
    height: 0px;
      

  }

  .table-btn{
      visibility: hidden;
      width: 0px;
      height: 0px;

  }

  .display-products-responsive{
      height: 100%;
      visibility: visible;
      background-color: #dfdede;
  }


.responsive-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    visibility: visible;
    height: 100%;





}

.responsive-item{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;
    justify-content: space-around;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 15px -5px white;
    background-color: white;
    border-radius: 5px;


    
}

.responsive-title{
    font-size: 17px;
    color: black;
    visibility: visible;
    font-weight: bold;
    height: 50px;
    margin-top: 10px;


}

.responsive-img{
    width: 100px;
    visibility: visible;
    height: 100px;



}

.responsive-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    visibility: visible;
    width: 100%;
    margin-top: 10px;

    
}

.responsive-buttons .table-btn-responsive{
    width: 100px;
    height: 30px;
    border: solid black;
    background-color:#333333;
    color: white;
    cursor: pointer;
    font-weight: bold;

}
    
      
  }