:root{
    --mainColor:#424245;
    --txtColor:#eee;
    --secondaryColor:#1D1D1F;
}

.product-modal-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

 
    
    
}
.product-modal{
    width: 50%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -5px gray;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;


}


.modal-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 20vw;
    border-radius: 20px;

}
.modal-sideBar{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.modal-item{
    margin-top: 20px;
    margin-bottom: 10px;
}

.modal-btn{
    width: 30%;
    height: 30px;
    border-radius: 10px;
    background-color:black;
    border: solid 1px #F5F5F5;
    box-shadow: 0px 0px 15px -5px gray;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 30%;

}

.modal-btn:hover{
    opacity: 0.5;
}