.home-container{
    height: 100%;
    font-family: 'Open Sans', sans-serif;

}


.img{
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(249, 249, 249, 0.205);

}
.home-section-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 50px;


}

.section-btn{
    width: 12%;
    height: 40px;
    border: solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
}
.section-btn:hover{
    opacity: 0.5;
}
.shop-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.section-div{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    padding: 50px;
    margin-top: 50px;
    width: 100vw;

}
.section-div-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    color: white;

}


.item-title{
    font-weight: bold;
    font-size: 17px;
    color: black;

}
.item-img{
    width: 150px;
    transition: 1s;
}
.modal-open{
    color: white;
    border-radius: 20px;
    transition: 1s;
    font-weight: bold;


}
.modal-open:hover{
    color: black;
    background-color: #F9F7F7;
    padding: 12px;

}

.item-img:hover{
    opacity: 0.7;
}

@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
    .home-section-title{
        font-size: 25px;
    }
    .img{
        margin-top: 21px;
    }
    .shop-link h1{
        font-size: 22px;
    }
    .section-div{
        width: 100%;
        flex-direction: column;
        margin-top: 10px;
        padding: 5px;
    }
    .section-btn{
        width: 50%;
        font-size: 20px;
    }
    .item-img{
    }

    
  }