.products-table{
    height: 100vh;
    font-family: 'Open Sans', sans-serif;

    
}
.table-header{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    border-bottom: solid 2px black;
}
.table-row{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    border-bottom: solid 2px black;
}
.products-table h5{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.table-product-img{
    width: 150px;
}
.table-btn{
    width: 90px;
    height: 30px;
    background-color: #333333;
    color: white;
    border: solid #333333;
    cursor: pointer;

}
