.products-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.products-page .mac{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}

.products-page .iPhone{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black;
}

.products-page header img{
    width: 100%;
}
.products-page .header-title{
    margin-top: 20px;
}
.product-link{
    text-decoration: none;
    color: black;
}



@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
      .products-page{
          height: 100%;
      }
      .products-page header{
          height: 100%;
          width: 100%;

      }
      .products-page header img{
        width: 350px;
    }
    .products-container{
        height: 100%;
        grid-template-columns: 1fr;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }


  }

