.header-container{
    height: 8vh;
    background-color:#333333;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    align-content: center;
}

.link{
    color:white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}








a{
    text-decoration: none;
}
.nav{
    width: 0px;
}
.media-link{
    color: white;
    height: 0px;
  
    
}
ul{
    margin-right: 5px;
}
.menu-icon{
    display: none;
}
li{
    display: none;
}
.nav-container .logo{
    display: none;
}



@media only screen and (min-width: 414px) and (max-width: 767px),
(min-width: 412px) and (max-width: 767px),
(min-width: 390px) and (max-width: 767px),
(min-width: 428px) and (max-width: 767px),
(min-width: 384px) and (max-width: 767px),
(min-width: 360px) and (max-width: 767px) {
    .link{
        font-size: 10px;
    }
    .header-container{
        visibility: hidden;
        width: 0px;
        height: 0px;

    }
   
    .nav{
        width: 100%;
        background-color:#1D1D1F;
        height: 50px;
    }
    .nav .menu-icon{
        color: #FFFFFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        
    }
    
   
    .nav-menu-active li{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        height: 100px;
        background-color: #1D1D1F;
        width: 100%;
    }
    
   
    .media-link{
        color: white;
    }
    .nav-menu{
        height: 0px;
    }
    .nav-menu li{
        visibility: hidden;
    }
  
   
}




















